[package]
name = "coap"
version = "0.8.1"
description = "A CoAP library"
readme = "README.md"
documentation = "http://covertness.github.io/coap-rs/master/coap/index.html"
repository = "https://github.com/covertness/coap-rs"
license = "MIT"
authors = ["Yang Zhang <wuyingfengsui@gmail.com>"]
keywords = ["CoAP"]
edition = "2018"

[dependencies]
bincode = "1.1.2"
serde = { version= "1.0.88", features= [ "derive" ] }
url = "1.7.2"
num-derive = "0.2.4"
num-traits = "0.2.6"
log = "0.4.6"
regex = "1.1.0"
tokio =  {version = "0.2", features = ["full"]}
tokio-util = {version = "0.2", features = ["codec", "udp"]}
futures = "0.3"
bytes = "0.5"

[dev-dependencies]
quickcheck = "0.8.2"
